<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".DebugGuardianReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.mrp.DEBUG_GUARDIAN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
